.header {
    color: #ffffff;
    width: 100%;

    &--main-page {
        min-height: 100svh;
        background: url("../img/desk.webp") center / cover no-repeat;
    }
    &--coffe-page-bg {
        background: url("../img/page-top.webp") center / cover no-repeat;
    }
    &--pleasure-page-bg {
        background: url("../img/pleasure-top.webp") center / cover no-repeat;
    }

    // .header__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding-block: toRem(30);
        row-gap: toRem(30);
        @media (max-width: $tablet) {
            padding-block: toRem(10);
            row-gap: toRem(25);
        }
    }

    // .header__navigation

    &__navigation {
        $nav-text-color: #ffffff;

        & .navigation__list {
            color: $nav-text-color;
        }
        & .navigation__link {
            &::after {
                background-color: $nav-text-color;
            }
        }
        & .logo__icon {
            filter: invert(98%) sepia(0%) saturate(5078%) hue-rotate(174deg) brightness(100%) contrast(81%);
        }
    }
    // .header__page-intro

    &__page-intro {
        width: 100%;
        padding-block: toRem(35) toRem(54);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: $tablet) {
            padding-block: toRem(5);
        }
        .title-block__title {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-transform: capitalize;
        }
    }

    // header__page-intro__text

    &__text {
        text-align: center;
        font-size: toRem(24);
        font-weight: 700;

        &--accent {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    // header__page-intro__link

    &__link {
        min-width: toRem(120);
        padding: toRem(8) toRem(15) toRem(10);
        text-align: center;
        border-radius: 3px;
        border: toRem(1) solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
        @media (any-hover) {
            &:hover {
                background-color: rgba(196, 196, 196, 0.5);
            }
        }
    }
}

.intro {
    padding-block-start: 10svh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    // .intro__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > *:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &__decor {
            margin-bottom: toRem(35);
        }
    }

    // .intro__title

    .title-block__title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
    }

    // .intro__text

    &__text {
        text-align: center;
        font-size: toRem(24);
        font-weight: 700;

        &--accent {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    // .intro__link

    &__link {
        min-width: toRem(120);
        padding: toRem(8) toRem(15) toRem(10);
        text-align: center;
        border-radius: 3px;
        border: toRem(1) solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
        @media (any-hover) {
            &:hover {
                background-color: rgba(196, 196, 196, 0.5);
            }
        }
    }
}
