.header {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &--coffe-page-bg {
        background: url("../img/page-top.png") center / cover no-repeat;
    }
    &--pleasure-page-bg {
        background: url("../img/pleasure-top.png") center / cover no-repeat;
    }

    // .header__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding-block: toRem(30);
        row-gap: toRem(30);
    }

    // .header__navigation

    &__navigation {
        $nav-text-color: #ffffff;

        & .navigation__list {
            color: $nav-text-color;
        }
        & .navigation__link {
            &::after {
                background-color: $nav-text-color;
            }
        }
        & .logo__icon {
            filter: invert(98%) sepia(0%) saturate(5078%) hue-rotate(174deg) brightness(100%) contrast(81%);
        }
    }
    // .header__page-intro

    &__page-intro {
        width: 100%;
        padding-block: toRem(35) toRem(54);
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    // .header__page-intro-title

    &__page-intro-title {
    }
}
