.about {
    // .about__container

    &__container {
        @include adaptiveValue("padding-block", 80, 30);
    }

    // .about__content

    &__content {
        margin: 0 auto;
        max-width: toPercent(800, $maxWidthContainer);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(20);
        @media (min-width: $tablet) {
            max-width: toPercent(589, $maxWidthContainer);
        }
    }

    // .about__title

    &__title {
        text-transform: capitalize;
    }

    // .about__decor

    &__decor:not(:last-child) {
        margin-bottom: toRem(20);
    }

    // .about__text

    &__text {
        text-align: center;
        line-height: 1.5;
        word-spacing: 0.2rem;
        & > *:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
}

.bestsellers {
    background: url("../img/paper.webp") center / cover no-repeat;
    // .bestsellers__container

    &__container {
        @include adaptiveValue("padding-block-start", 80, 50);
        @include adaptiveValue("padding-block-end", 110, 50);
        display: flex;
        flex-direction: column;
        row-gap: toRem(39);
        align-items: center;
    }

    // .bestsellers__collection

    &__collection {
        max-width: toPercent(802, $maxWidthContainer);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(71);
        & > article {
            flex-basis: toRem(220);
            flex-shrink: 1;
            min-width: toRem(220);
        }
    }
}

/* Coffee -page */
.beans-info {
    position: relative;
    // .beans-info__container

    &__container {
        @include adaptiveValue("padding-block-start", 70, 30);
        @include adaptiveValue("padding-block-end", 60, 30);
    }
    //beans-info__wrapper
    &__wrapper {
        margin: 0 auto;
        width: toPercent(800, $maxWidthContainer);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: toRem(30) toPercent(50, $maxWidthContainer);
        @media (max-width: $laptop) {
            // width: 100%;
        }
        @media (max-width: $tablet) {
            column-gap: toRem(20);
        }
        &--wider {
            width: toPercent(865, $maxWidthContainer);
            column-gap: toPercent(50, $maxWidthContainer);
        }
    }

    // .beans-info__image-block
    &__image-block {
        flex: 0 1 toRem(272);
        flex-basis: toPercent(272, 800);
        min-width: 250px;
        background-color: #c4c4c4;
        @media (max-width: $mobile) {
            // flex-basis: toRem(320);
        }
        @media (max-width: toRem(713)) {
            // aspect-ratio: 320 / 200;
        }
        @media (max-width: $smallMobile) {
            // flex-grow: 1;
        }
        &--wider {
            flex-basis: toPercent(392, 865);
        }
    }

    // .beans-info__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 272 / 355;
        object-fit: cover;

        .beans-info__image-block--wider & {
            aspect-ratio: 392 /355;
        }
        @media (max-width: $mobile) {
            // aspect-ratio: 355 / 272;
            // object-fit: contain;
        }
    }

    // .beans-info__content

    &__content {
        flex-basis: toPercent(406, 800);
        padding: toRem(9) toRem(30);
        display: flex;
        flex-direction: column;
        row-gap: toRem(25.7);
        align-items: center;
        @media (max-width: $tablet) {
            padding-inline: 0;
            flex-grow: 1;
        }

        @media (max-width: $mobile) {
        }
        @media (max-width: $smallMobile) {
            // width: 100%;
        }
        p {
            text-align: center;
        }
        p,
        .beans-info__data {
            line-height: 1.5;
            word-spacing: 0.2rem;
        }
        &:has(.beans-info__data) {
            padding-inline: 0;
            flex-basis: toPercent(418, 865);
        }
    }

    // beans-info__data
    &__data {
        display: flex;
        flex-direction: column;
        row-gap: toRem(16);
        span {
            font-weight: 700;
        }
    }
    &__data-price {
        span {
            font-size: toRem(24);
        }
    }
    &:not(:last-child)::after {
        content: "";
        width: toPercent(240, $maxWidthContainer);
        height: 1px;
        background-color: #000000;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.products-filter {
    // .products-filter__container

    &__container {
        padding-block-start: toRem(61);
    }
}
.filter-form {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: toRem(35) toPercent(83, $maxWidthContainer);
    justify-content: center;
    align-items: center;

    //filter-form__search-block
    &__search-block {
        flex: 0 1 toRem(284);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(18) toRem(19);
    }
    //filter-form__search-lable
    &__search-lable {
        flex-shrink: 0;
    }
    // .filter-form__input

    &__input {
        flex-basis: toRem(180);
        padding: toRem(6) toRem(36);
        border-radius: toRem(4);
        background: #fff;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        &::placeholder {
            font-size: toRem(12);
            color: rgba(0, 0, 0, 0.5);
        }
    }

    // .filter-form__countries-filter

    &__countries-filter {
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(18) toRem(35);
    }

    // .filter-form__countries-list

    &__countries-list {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(25) toRem(5);
    }

    // .filter-form__countries-item

    &__countries-item {
        flex-shrink: 1;
        min-width: fit-content;
        & .filter-form__country-lable {
            background: #fff;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
            transition: box-shadow 0.5s;
            @media (any-hover) {
                &:hover {
                    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.45);
                }
            }
        }

        &:first-child .filter-form__country-lable {
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child .filter-form__country-lable {
            border-radius: 0px 4px 4px 0px;
        }
    }
    // .filter-form__country-lable

    &__country-lable {
        position: relative;
        text-transform: capitalize;
        padding: toRem(6) toRem(20);
        &:has(> input:checked) {
            font-weight: 700;
            text-decoration: underline;
        }
    }

    // .filter-form__country-checkbox

    &__country-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}

//Products section

.products {
    // .products__container

    &__container {
        padding-block: toRem(61) toRem(30);
    }

    // .products__catalog

    &__catalog {
        max-width: toPercent(800, $maxWidthContainer);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: toRem(60) toRem(70);
        @media (max-width: $mobile) {
            max-width: 100%;
        }
        .product-card {
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
            background-color: #ffffff;
            transition: filter 0.5s;
            @media (any-hover) {
                &:hover {
                    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.45));
                }
            }
        }
    }
}
