.intro {
    // min-height: toRem(640);
    min-height: 100svh;
    padding-block: toRem(100);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/desk.png") center / cover no-repeat;
    color: #ffffff;
    // .intro__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > *:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &__decor {
            margin-bottom: toRem(35);
        }
    }

    // .intro__title

    .title-block__title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
    }

    // .intro__text

    &__text {
        text-align: center;
        font-size: toRem(24);
        font-weight: 700;

        &--accent {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    // .intro__link

    &__link {
        min-width: toRem(120);
        padding: toRem(8) toRem(15) toRem(10);
        text-align: center;
        border-radius: 3px;
        border: toRem(1) solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
        @media (any-hover) {
            &:hover {
                background-color: rgba(196, 196, 196, 0.5);
            }
        }
    }
}

.about {
    // .about__container

    &__container {
        padding-block: toRem(80);
    }

    // .about__content

    &__content {
        margin: 0 auto;
        max-width: toPercent(589, $maxWidthContainer);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(20);
    }

    // .about__title

    &__title {
        text-transform: capitalize;
    }

    // .about__decor

    &__decor:not(:last-child) {
        margin-bottom: toRem(20);
    }

    // .about__text

    &__text {
        text-align: center;
        line-height: 1.5;
        word-spacing: 0.2rem;
        & > *:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
}

.bestsellers {
    background: url("../img/paper.png") center / cover no-repeat;
    // .bestsellers__container

    &__container {
        padding-block: toRem(80) toRem(110);
        display: flex;
        flex-direction: column;
        row-gap: toRem(39);
        align-items: center;
    }

    // .bestsellers__title

    &__title {
    }

    // .bestsellers__collection

    &__collection {
        max-width: toPercent(802, $maxWidthContainer);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(71);
        & > article {
            flex-basis: toRem(220);
        }
    }
}

/* Coffee -page */
.beans-info {
    position: relative;
    // .beans-info__container

    &__container {
        padding-block: toRem(70) toRem(59);
    }
    //beans-info__wrapper
    &__wrapper {
        margin: 0 auto;
        width: toPercent(800, $maxWidthContainer);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: toRem(30) toVW(70, $maxWidth);
        @media (max-width: $laptop) {
            width: 100%;
        }
        @media (max-width: $tablet) {
            column-gap: toRem(15);
        }
    }

    // .beans-info__image-block
    &__image-block {
        flex: 0 1 toRem(272);
        min-width: 250px;
        background-color: #c4c4c4;
        @media (max-width: $mobile) {
            flex-basis: toRem(320);
        }
        @media (max-width: toRem(713)) {
            aspect-ratio: 320 / 200;
        }
        @media (max-width: $smallMobile) {
            flex-grow: 1;
        }
    }

    // .beans-info__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 272 / 355;
        object-fit: cover;
        // @media (max-width: $smallMobile) {
        //     aspect-ratio: 320 / 200;
        // }
    }

    // .beans-info__content

    &__content {
        @include adaptiveValue("flex-basis", 406, 300);
        padding: toRem(9) toRem(30);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $tablet) {
            // flex-basis: toRem(300);
        }

        @media (max-width: $mobile) {
            flex-grow: 1;
            padding-inline: toRem(15);
        }
        @media (max-width: $smallMobile) {
            width: 100%;
            padding-inline: 0;
        }
        p {
            text-align: center;
            line-height: 1.5;
            word-spacing: 0.2rem;
        }
        p:first-of-type {
            padding-block: toRem(25);
        }
    }
    &:not(:last-child)::after {
        content: "";
        width: toPercent(240, $maxWidthContainer);
        height: 1px;
        background-color: #000000;
        position: absolute;
        bottom: toRem(9);
        left: 50%;
        transform: translateX(-50%);
    }
}

.products-filter {
    // .products-filter__container

    &__container {
        padding-block: toRem(51);
    }
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20) toRem(83);
    justify-content: center;
    align-items: center;

    //filter-form__search-block
    &__search-block {
        // flex: 0 1 toRem(284);
        display: flex;
        align-items: center;
        gap: toRem(10) toRem(19);
    }
    //filter-form__search-lable
    &__search-lable {
        flex-shrink: 0;
    }
    // .filter-form__input

    &__input {
        flex-basis: toRem(180);
        padding: toRem(6) toRem(36);
        border-radius: toRem(4);
        background: #fff;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        &::placeholder {
            font-size: toRem(12);
            color: rgba(0, 0, 0, 0.5);
        }
    }

    // .filter-form__countries-filter

    &__countries-filter {
        // flex: 0 0 toRem(326);
        display: flex;
        align-items: center;
        gap: toRem(10) toRem(35);
    }

    // .filter-form__countries-list

    &__countries-list {
        display: flex;
        column-gap: toRem(5);
    }

    // .filter-form__countries-item

    &__countries-item {
        & .filter-form__country-lable {
            background: #fff;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        }

        &:first-child .filter-form__country-lable {
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child .filter-form__country-lable {
            border-radius: 0px 4px 4px 0px;
        }
    }
    // .filter-form__country-lable

    &__country-lable {
        position: relative;
        text-transform: capitalize;
        padding: toRem(6) toRem(20);
        &:has(> input:checked) {
            font-weight: 700;
            text-decoration: underline;
        }
    }

    // .filter-form__country-checkbox

    &__country-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}
